.agendamento {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.agendamento input {
    margin-bottom: 1rem;
    width: 400px;
}

.agendamento button {
    width: 300px;
}

@media (max-width: 767px) {

    .agendamento {
        align-items: center;
    }

    .agendamento input {
        width: 90%;
    }
    
    .agendamento button {
        width: 60%;
    }
}